html {
    color: black;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    font-size: 110px;
    letter-spacing: 0.05em;
  }

#title-container {
    padding-top: 100px;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICON */

.icon {
    cursor: pointer;
    height: 2rem;
}